<% if flash[:error] %>
  <div id="error-message"><%= flash[:error] %></div>
<% end %>

<form action="login" method="post">
  <table id="login-form" class="form">
    <%= @form.as_table %>
  </table>
  <% if @redirect_url %>
    <input type="hidden" name="redirect_url" value="<%= @redirect_url %>" />
  <% end %>
  <input type="submit" value="Log In"/>
</form>
