<h2>You're on the contact list!</h2>

<p>You've now been added to our contact list.  We will be in touch via email
next time we're getting started.</p>

<p>If you have any questions, please email us at
stadium<foo>choir<foo>@<foo>twoedge<foo>.<foo>com, and we'll try to
get back to you as soon as possible.</p>
