<h2>Come sing in the Stadium of Fire!</h2>

<p>This page contains all important information and will be updated as new
information comes in, so please read it completely and check back
periodically.</p>


<h2>Choir Size</h2>
<p>We need between 300 and 350 voices.  If you know of other singers, please
send them to this page.</p>


<h2>Requirements</h2>
<ul>
  <li>You must be of high-school age or older.</li>

  <li>You must be able to hold your own voice part while others are singing
  different parts in the other sections (don't worry&mdash;the sections will not
  be intermingled with each other).</li>

  <li>You must be able to attend all required rehearsals (exceptions granted on
  a case-by-case basis).</li>
</ul>


<h2>Rehearsal / Performance Schedule</h2>
<p>The first four rehearsals are for choir only, and will be at these times:</p>
<ul>
  <li>Wednesday, June 15, 7pm-9pm</font></li>
  <li>Saturday, June 18, 10am-12pm</li>
  <li>Wednesday, June 22, 7pm-9pm</li>
  <li>Saturday, June 25, 10am-12pm</li>
  <li>Wednesday, June 29, 7pm-9pm <font color="red">Make-up Rehearsal</font></li>
</ul>

<br/>

<p>Rehearsals at Stadium:</p>
<ul>
  <li>Thursday, June 30, 5pm-6pm: Choir-only rehearsal</li>
  <li>Friday, July 1<br/>
      6pm-8pm: Rehearsal with color guard and dancers<br/>
      8pm-8:30pm: break<br/>
      8:30pm-11pm: Full Stadium of Fire Dress Rehearsal<br/>
  </li>
  <li>Saturday, July 2<br/>
      6:30: call time / choral warmup<br />
      8:30: Stadium of Fire</li>
</ul>

<br/>

<p>REHEARSAL LOCATION:  The first four rehearsals will be held at what we call
the Apple Chapel, 1038 N 1200 E, Provo.  From I-15, take the University
Parkway exit by UVU (NOT the University Avenue exit in south Provo!) and head
east.  Follow University Parkway past University Mall, down the hill into Provo,
and on until you pass the stadium and the Marriott Center.  At the next light,
turn right onto 900 East.  Drive a few blocks until you reach the light by the
BYU Creamery on 9th, which is Birch Lane / Heritage Drive.  Turn left onto
Birch, go just past Apple Avenue on the left, and then turn left into the chapel
parking lot.  The chapel is the closer of the two.</p>


<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1038+e+1200+n+provo+utah&aq=&sll=37.0625,-95.677068&sspn=53.564699,67.148438&ie=UTF8&hq=&hnear=1038+N+1200+E,+Provo,+Utah+84604&t=h&z=17">Here's a map.</a></p>

<br/>

<p>NOTE ABOUT DRESS REHEARSAL: Please be aware that <strong>without
exception</strong>, everyone needs to be there for the dress rehearsal on July
1st.  If you can't make the dress rehearsal, you cannot participate in the
Stadium of Fire.  If such is the case, we'd love to have you in future years.<p>


<h2>Recording</h2>
<p>We will be looking for a small group of advanced singers (around 40 voices)
from among the choir members who can participate in a prior recording session of
the music we will sing on the 2nd.  This would require an audition, which would
be announced at the first or second rehearsal, as well as the recording date.
It would also require participants to know their music exceptionally well.</p>


<h2>Tickets</h2>
<p>Each member of the choir will get in for free.  No complimentary tickets will
be available for loved ones, but the Stadium producers will likely set aside a
few hundred tickets for purchase by members of the choir for their loved ones.
More about this will be announced as details are worked out.</p>

<p>We also recommend you try to join the choir as couples or families, provided
all can meet the requirements.  Note that we may or may not be able to sit with
loved ones in the audience when we are not singing.</p>


<h2>Music</h2>
<p>Music has not been decided yet, but you will be given instructions once it
is.  You will most likely need to come to this website, download it, print it,
and bring it to rehearsal.</p>


<h2>Signing Up</h2>
<p>The "Sign Up" link to the right will take you to the sign-up page.</p>


<h2>Contact</h2>
<p>You may email us at stadium<foo>choir<foo>@<foo>twoedge<foo>.<foo>com
with any questions you may have.  Please be patient, as there aren't very
many of us.  We'll try and get back to you as soon as possible.</p>
