<h2>Come sing in the Stadium of Fire!</h2>

<p>2010 marks the 30th anniversary of the Stadium of Fire, and we are excited to
have returning members as well as new recruits for the choir.</p>

<p>This page contains all important information and will be updated as new
information comes in, so please read it completely and check back
periodically.</p>


<h2>Choir Size</h2>
<p>We need between 300 and 350 voices.  If you know of other singers, please
send them to this page.</p>


<h2>Requirements</h2>
<ul>
  <li>You must be of high-school age or older.</li>

  <li>You must be able to hold your own voice part while others are singing
  different parts in the other sections (don't worry&mdash;the sections will not
  be intermingled with each other).</li>

  <li>You must be able to attend all required rehearsals (exceptions granted on
  a case-by-case basis).</li>
</ul>


<h2>Rehearsal / Performance Schedule</h2>
<p>The first four rehearsals are for choir only, and will be at these times:</p>
<ul>
  <li><strike>Tuesday, June 15, 7pm-9pm</strike> <font color="red">CANCELED</font></li>
  <li>Saturday, June 19, 10am-12pm</li>
  <li>Tuesday, June 22, 7pm-9pm</li>
  <li>Saturday, June 26, 10am-12pm</li>
  <li>Tuesday, June 29, 7pm-9pm <font color="red">Make-up Rehearsal</font></li>
</ul>

<br/>

<p>REHEARSAL LOCATION:  The first four rehearsals will be held at what we call
the Hillside Chapel, 1960 N 1500 E in Provo.  From I-15, take the University
Parkway exit by UVU (NOT the University Avenue exit in south Provo!) and head
east.  Follow University Parkway past University Mall and down the hill into
Provo.  After going under the underpass on that hill, turn left at the next
light, which is 2230 North (also called 550 West on the other side).  Follow
2230 North eastward until it begins to curve right and become 9th East.  As it
curves, turn left immediately onto N Temple Drive, the road that runs just to
the north of the Provo Temple.  Follow that road all the way up towards Rock
Canyon and then follow the curve to the right as it becomes 1450 East.  Go up
the little hill and turn at the first left, 2050 North.  Turn right at 1500 East
and immediately left into the chapel parking lot.</p>

<p><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1960+North+1500+East,+Provo,+Utah&sll=40.260996,-111.631646&sspn=0.002661,0.003852&ie=UTF8&hq=&hnear=1960+N+1500+E,+Provo,+Utah,+84604&t=h&z=16">Here's a map.</a></p>

<br/>

<p>The schedule for the week of the performance:</p>
<ul>
  <li>Thursday, July 1, 2:45-4:30pm: Blocking at stadium (see note below)</li>
  <li>Friday, July 2, 7:30pm: Full Stadium of Fire dress rehearsal</li>
  <li>Saturday, July 3, 6:15pm: Stadium of Fire</li>
</ul>

<br/>

<p>NOTE ABOUT JULY 1ST:  The rehearsal on the afternoon of
Thursday, July 1st is on a "liberal leave" policy.  Many of you have jobs and
might not be able to make it at that time.  Please do everything you can to be
there, even getting off of work early if possible.  If you simply cannot make it,
please work it out with a member in your section to get the instructions on what
to do, where to go at what times, etc.  Work it out beforehand and then discuss
it with that person before the dress rehearsal.  Please <strong>DO NOT</strong>
email or call for individual approval to miss this rehearsal.  Just go ahead and
miss it and get the instructions later.</p>

<p>NOTE ABOUT DRESS REHEARSAL: Also note that <strong>without
exception</strong>, everyone needs to be there for the dress rehearsal on July
2nd.  If you can't make the dress rehearsal, you cannot participate in the
Stadium of Fire.  If such is the case, we'd love to have you in future years.<p>


<h2>Recording</h2>
<p>We might be looking for a small group of advanced singers (around 40 voices)
from among the choir members who can participate in a prior recording session of
the music we will sing on the 4th.  This would require an audition, which would
be announced at the first or second rehearsal, as well as the recording date.
It would also require participants to know their music exceptionally well.</p>


<h2>Tickets</h2>
<p>Each member of the choir will get in for free.  No complimentary tickets will
be available for loved ones, but the Stadium producers have set aside a few
hundred tickets for purchase by members of the choir for their loved ones.
These tickets must be purchased by Wednesday, June 23rd.  After you sign up, we
will email you instructions on how to purchase them.  These instructions will go
out no later than Saturday, June 19th</p>

<p>We also recommend you try to join the choir as couples or families, provided
all can meet the requirements.  Note that we may or may not be able to sit with
loved ones in the audience when we are not singing.</p>


<h2>Music</h2>
<p>Music has not been decided yet, but you will be given instructions once it
is.  You will most likely need to come to this website, download it, print it,
and bring it to rehearsal.</p>


<h2>Signing Up</h2>
<p>The "Sign Up" link to the right will take you to the sign-up page.</p>


<h2>Contact</h2>
<p>You may email us at stadium<foo>choir<foo>@<foo>twoedge<foo>.<foo>com
with any questions you may have.  Please be patient, as there aren't very
many of us.  We'll try and get back to you as soon as possible.</p>
