<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Stadium of Fire Chorus</title>
    <link href="/stylesheets/default.css?1242323376" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body id="">

      <div id="container">
          <a href="http://www.freedomfestival.org" id="logo">American's Freedom Festival at Provo</a>
          <a href="http://www.stadiumoffire.com" id="sof-logo">Stadium of Fire</a>

          <div id="content">
            <div id="main" class="two-columns clearfix">
              <div class="column-1">
                <h1>The Stadium of Fire Chorus 2011</h1>
                <div id="rendered-content">
                  <%= yield %>
                </div><!-- END rendered-content -->
              </div><!-- END column-1 -->
              <div class="column-2">
                <div class="standard-container">
                  <div>
                    <h2><a href="/">Home</a></h2>
                  </div>
                  <div>
                    <h1><a href="/signup">Sign Up</a></h1>
                  </div>
                  <div>
                    <h2><a href="/music">Music</a></h2>
                  </div>
                  <!--
                  <div>
                    <h2><a href="/flyers">Recruitment Flyers</a></h2>
                  </div>
                  -->
                </div><!-- END standard-container -->
              </div><!-- END column-2 -->
            </div><!-- END main -->
          </div><!-- END content -->
          
          <div id="footer">
              <p>Copyright &copy; 2011 America's Freedom Festival at Provo. All Rights Reserved</p>
          </div><!-- END footer -->
      </div><!-- END container -->
      
  </body>
</html>
