<h2>Music</h2>

<p>Music for 2010 has not yet been decided.  Once it has, it will probably be
posted on this page in order for you to download, print, and bring to rehearsal.
You will be also notified about it via email.</p>
