<h2>Music</h2>

<p>Below is the music for you to download, print, and bring to rehearsal.</p>

<p>More will be on its way--you'll be notified by email when it arrives.</p>

<ul>
  <li><a href="http://www.twoedge.com/stadiumchorus/lincolns_gettysburg_address.pdf">Lincoln's
    Gettysburg Address</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/grand_old_flag.pdf">Grand
    Old Flag</a></li>
</ul>
