<h2>Music</h2>

<p>Below is the music for you to download and print.</p>

<ul>
  <li><a href="http://www.twoedge.com/stadiumchoir/battle_hymn_of_the_republic.pdf">Battle
    Hymn of the Republic</a><br/>NOTE: ONLY PRINT PAGES 5 AND 6 OF THE BATTLE HYMN</li>
  <li><a href="http://www.twoedge.com/stadiumchoir/grand_old_flag.pdf">Grand
    Old Flag</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/this_is_my_country.pdf">This
    Is My Country</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/god_bless_america.pdf">God
    Bless America</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/america_the_beautiful_ray.pdf">America,
    the Beautiful</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/as_the_caissons_go_rolling_along.pdf">As
    the Caissons Go Rolling Along</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/anchors_aweigh.pdf">Anchors
    Aweigh</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/air_force_song.pdf">Air
    Force Song</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/marine_hymn.pdf">Marine
    Hymn</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/military_themes_1p.pdf">Military
    Themes all on one page</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/military_themes_2p.pdf">Military
    Themes all on two pages</a></li>
</ul>
