<h2>Music</h2>

<p>Below is the music for you to download, print, and bring to rehearsal.</p>

<p>It is arranged in concert order:</p>

<ul>
  <li><a href="http://www.twoedge.com/stadiumchorus/lincolns_gettysburg_address.pdf">Lincoln's
    Gettysburg Address</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/god_bless_the_usa.pdf">God
    Bless The USA</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/grand_old_flag.pdf">Grand
    Old Flag</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/this_is_my_country.pdf">This
    Is My Country</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/battle_hymn_last_2.pdf">Battle
    Hymn Of The Republic</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/america_the_beautiful_ray.pdf">America
    The Beautiful</a></li>
</ul>

<p>Here are recordings:</p>

<ul>
  <li><a href="http://www.twoedge.com/stadiumchorus/lincolns_gettysburg_address_full.mp3">Lincoln's
    Gettysburg Address (full)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/lincolns_gettysburg_address_w_click.mp3">Lincoln's
    Gettysburg Address (full with click)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/lincolns_gettysburg_address_synth.mp3">Lincoln's
    Gettysburg Address (synth choir)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/god_bless_the_usa_rough.mp3">God
    Bless The USA (rough)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/god_bless_the_usa_rough_no_solos.mp3">God
    Bless The USA (rough, no solos)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/god_bless_the_usa_beyonce.mp3">God
    Bless The USA (with soloist)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/god_bless_the_usa_accomp.mp3">God
    Bless The USA (soloist removed)</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/grand_old_flag_no_middle.mp3">Grand
    Old Flag</a></li>
  <li><a href="http://www.twoedge.com/stadiumchorus/patriotic_pyro_2010.mp3">Patriotic
    Pyro</a></li>
</ul>

<p>You can also download individual part recordings here:</p>
<ul>
  <li><a href="http://www.nhfelt.org/?PG=STADIUMCHORUS">Robato
    Recordings</a></li>
</ul>
