<h2>Music</h2>

<p>Below is the music for you to download and print.</p>

<ul>
  <li><a href="http://www.twoedge.com/stadiumchoir/battle_hymn_of_the_republic.pdf">Battle
    Hymn of the Republic</a><br/>NOTE: ONLY PRINT PAGES 5 AND 6 OF THE BATTLE HYMN</li>
  <li><a href="http://www.twoedge.com/stadiumchoir/grand_old_flag.pdf">Grand
    Old Flag</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/this_is_my_country.pdf">This
    Is My Country</a></li>
  <li><a href="http://www.twoedge.com/stadiumchoir/god_bless_america.pdf">God
    Bless America</a></li>
</ul>
