<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>American's Freedom Festival in Provo | SEO</title>
	<meta name="author" content="Bermon Painter">
	
    <link href="/stylesheets/default.css?1242323376" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css?1242323376" media="print" rel="stylesheet" type="text/css" />
    
    <script src="/javascripts/jquery.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.easing.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.easing.compatibility.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.slider.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.fancybox.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.textshadow.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/global.js?1242323376" type="text/javascript"></script>
    
    <!--[if IE 7]>
    <link href="/stylesheets/ie7.css?1242323376" media="screen" rel="stylesheet" type="text/css" />
    
    <![endif]-->
 <!-- 
	<script type="text/javascript" language="JavaScript1.2" src="/javascripts/stm31.js"></script>
	<script type="text/javascript" src="/javascripts/validate.js"></script>    
-->
	
</head>

<body id="">
    <div id="container">
        <a href="/" id="logo">American's Freedom Festival at Provo</a>
        <ul id="secondary-nav">
            <li class="about"><a href="/public/about">About Us</a></li>
            <li class="press"><a href="/public/media">Press Room</a></li>
            <li class="contact"><a href="/public/contact">Contact Us</a></li>
        </ul>
        <ul id="main-nav">
            <li class="home"><a href="/">Home</a></li>
            <li class="events"><a href="/public/events">Events</a></li>
            <li class="volunteer"><a href="/public/volunteer">Get Involved</a></li>
            <li class="vendors"><a href="/public/vendors">Vendors</a></li>
        </ul>
        
        <div id="content">
<div id="sof" class="clearfix">
    <div class="header">
        <div class="logo">Americas Freedom Festival at Provo presents the Stadium of Fire</div>
        <div class="info-box">
            <h1>Saturday, July 4, 2009</h1>
            <h2>8 P.M. At BYU Lavell Edwards Stadium</h2>
            
            <div class="line"></div>
            
            <h3>Tickets available for</h3>
            
            <ul class="ticket-prices">
                <li>$35</li>
                <li>$45</li>
                <li>$55</li>
                <li>$65</li>
                <li>$120</li>
            </ul>
            
            <h4>There will also be a $2 per ticket facility fee</h4>
            
            <a href="http://ev9.evenue.net/cgi-bin/ncommerce3/SEGetEventList?groupCode=SF&linkID=byu&shopperContext=&caller=&appCode" class="button">Purchase tickets</a>
            
            <h5>For An Opportunity for Front Row Seats
                <a href="http://byutickets.com/content/event/events/marketplace_sof_auction.html">Visit the Charity Auction</a><h5>
            <!--
            <h5>For an opportunity to win tickets,<br> <a href="http://freedomfestival.list-manage.com/subscribe?u=8b38866c0afb9cecc53cab935&amp;id=9e840283c7">sign up for our mailing list</a>.</h5>-->
        </div>
    </div>
    
    <div id="secondary" class="clearfix">
        <div class="col1">
            
        </div>
        
        <div id="glen-beck" class="col2">
            <img src="/images/jonas_brothers_glen_beck.jpg" width="330" height="294" alt="Hosted by Glenn Beck">
        </div>
    </div>
   <div id="sponsors" class="clearfix">    
        <a href="http://www.buyatoyota.com" class="toyota">Toyota</a>
        <a href="http://www.utahvalley.org/" class="utah-valley">Utah Valley</a>
        <a href="http://www.knrs.com/" class="knrs">570 KNRS</a>
        <a href="http://www.heraldextra.com/" class="daily-herald">Daily Herald</a>
        <a href="http://provo.org/" class="provo">Utah County</a>
        <a href="http://radio.disney.go.com/music/yourstation/saltlakecity/index.html" class="radio-disney">Radio Disney - AM 910</a>
    </div>
   
</div>
        </div><!-- END content -->
        
        <div id="footer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/public/about">About Us</a></li>
                <li><a href="/public/media">Press Room</a></li>
                <li><a href="/public/contact">Contact Us</a></li>
                <li><a href="/public/events">Events</a></li>
                <li><a href="/public/volunteer">Get Involved</a></li>
                <li><a href="/public/vendors">Vendors</a></li>
            </ul>
            <p>Copyright &copy; 2009 America's Freedom Festival at Provo. All Rights Reserved</p>
        </div><!-- END footer -->
    </div><!-- END container -->
    
    
<script type="text/javascript">
/* <![CDATA[ */
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
/* ]]> */
</script>
<script type="text/javascript">
/* <![CDATA[ */
    try {
        var pageTracker = _gat._getTracker("UA-7035308-1");
        pageTracker._trackPageview();
    } 
    catch(err) {}
/* ]]> */
</script>
</body>
</html>
